.header{
    background-color: aqua;
    display:flex;
}
.header-logo{
    color:yellow;
    /*float:left;*/
}
.header-list ul{
    /*float:right;*/
    display:flex;
    list-style:none;
}
.header-list li{
    padding:20px;
    
    
}
.main{
    background-color:wheat;
}
.introduction{
    
}